.app-title {
    text-align: center;
    color: #777;
  }

.custom-header {
    background-color: #333; 
    color: #fff; 
  }
  
  .custom-card {
    background-color: #f4f4f4;
    margin: 16px;
  }
  
  .custom-card-title {
    color: #333; 
  }
  
  ion-label {
    color: #666;
  }
  